# Supabase Project Configuration
VITE_SUPABASE_URL=https://ypyeodvomjcvccltkucf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlweWVvZHZvbWpjdmNjbHRrdWNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYyNjI4NzAsImV4cCI6MjEwMTgzODg3MH0.YFJuvXxho9r42J-FRILr9rDjnalV3lOR4u56bmU3YJA
